@use "config";
@use "subpage";

$main: #e52213;
$sub: #2ba99d;

@mixin sp {
  @media (max-width:(380px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(440px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(580px)) {
    @content;
  }
}


/* =================================
header
 ================================= */
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 580px;
  background-color: #fff;

  @include pc {
    width: 100%;
  }


  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 80px;
    padding: 8px 12px 0px;

    @include pc {
      width: 100%;
    }

    @include sp {
      gap: 28px;
      padding: 2px 12px 0px;

    }



  }

  &__ttl-wrap {
    padding: 0 0 8px;

    @include sp {
      padding: 0;
    }


  }

  &__header-tel {
    max-width: 300px;
  }



}




/* =================================
メインビジュアル
 ================================= */

.main-visual {
  padding: 0 0 120px;

  @include pc {
    padding: 0 0 60px;
  }

  &__top {
    margin: 0 0 24px;
  }

  &__inner {
    padding: 0 16px;
  }

  &__lead01 {
    max-width: 300px;
    margin: 0 auto 16px;
  }

  &__arrow {
    max-width: 50px;
    margin: 0 auto 0;
  }

  &__lead02 {
    max-width: 540px;
    margin: 0 auto 32px;
  }

  &__find01 {
    max-width: 500px;
    margin: 0 auto 8px;
  }

  &__find02 {
    max-width: 500px;
    margin: -24px auto 8px;
  }

  &__find03 {
    max-width: 500px;
    margin: 0 auto 8px;
  }

  &__text01 {
    margin: 0 0 32px;
  }

  &__find04 {
    max-width: 550px;
    margin: 0 auto 8px;
  }

  &__find05 {
    max-width: 550px;
    margin: 0 auto 40px;
  }
}

/* =================================
なんでこんなに疲れるの？
 ================================= */

.desc {
  padding: 0 16px;

  p,
  h2 {
    margin: 0 0 48px;

    @include pc {
      margin: 0 0 32PX;
    }
  }

  &__img01 {
    max-width: 500px;
    margin: 0 auto 80px;

    @include pc {
      max-width: 300px;
      margin: 0 auto 40px;
    }
  }

  &__img02 {
    margin: 0 auto 64px;

    @include pc {
      margin: 0 auto 40px;
    }
  }

  &__img03 {
    margin: 0 auto 64px;

    @include pc {
      margin: 0 auto 40px;
    }
  }

  &__img04 {
    max-width: 400px;
    margin: 0 auto 80px;

    @include pc {
      max-width: 300px;
      margin: 0 auto 40px;
    }
  }

  &__img05 {
    margin: 0 auto 64px;

    @include pc {
      margin: 0 auto 40px;
    }
  }

  &__img06 {
    margin: 0 auto 64px;

    @include pc {
      margin: 0 auto 40px;
    }
  }



  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
なぜ、こんな変化が？
 ================================= */

.why {
  padding: 0 0 80px;

  @include pc {
    padding: 0 0 60px;
  }

  p,
  h2 {
    margin: 0 0 48px;

    @include pc {
      margin: 0 0 32PX;
    }
  }

  &__inner {
    padding: 0 16px;
  }

  &__img01 {
    margin: 0 auto 64px;

    @include pc {
      margin: 0 auto 40px;
    }
  }

  &__img02 {
    max-width: 500px;
    margin: 0 auto 64px;

    @include pc {
      margin: 0 auto 40px;
    }
  }

  &__list {
    margin: 0 0 64px;

    @include pc {
      max-width: 378px;
      margin: 0 auto 64px;
    }
  }

  &__list-item {
    position: relative;

    &::before {
      content: url(../img/top/why-check.png);
      position: absolute;
      top: 55%;
      left: -66px;
      transform: translateY(-50%)scale(0.5);

      @include pc {
        top: 55%;
        left: -57px;
        transform: translateY(-50%)scale(0.4);
      }
    }


  }

  &__img03 {
    max-width: 500px;
    margin: 0 auto 64px;

    @include pc {
      margin: 0 auto 40px;
    }
  }


  &__img04 {
    margin: 0 auto 64px;

    @include pc {
      margin: 0 auto 40px;
    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
他の人の感想は？
 ================================= */

.impression {
  padding: 0 16px 80px;

  @include pc {
    padding: 0 16px 40px;
  }

  h2 {
    margin: 0 0 48px;

    @include pc {
      margin: 0 0 32PX;
    }
  }

  &__item {
    display: flex;
    background-color: #FFF7F8;
    border-radius: 8px;
    padding: 20px;
    gap: 20px;
    align-items: center;
    margin: 0 0 32px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    @include tab {
      flex-direction: column-reverse;
      padding: 16px;

    }

  }

  &__text-wrap {
    flex: 1;
  }

  &__ttl {
    color: #EF4767;
    font-size: 22px;
    text-align: left;
    margin: 0 0 16px;

    @include tab {
      text-align: center;
    }

    span {
      display: block;
      font-size: 16px;
      color: #000;
      font-weight: normal;
    }

  }

  &__text {
    text-align: left;
    background-color: #fff;
    padding: 20px;
    font-size: 18px;
  }

  &__img {
    width: 180px;
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
大学研究
 ================================= */

.college {
  padding: 80px 16px;
  background-color: #ffffd6;

  @include pc {
    padding: 40px 16px;
  }

  h2 {
    margin: 0 0 48px;

    @include pc {
      margin: 0 0 32PX;
    }
  }

  &__img01 {
    margin: 0 auto 64px;

    @include pc {
      margin: 0 auto 40px;
    }
  }

  &__img02 {

    margin: 0 auto 24px;

    @include pc {
      margin: 0 auto 12px;
    }
  }

  &__list {
    margin: 0 auto 64px;

    @include pc {
      max-width: 349px;
    }
  }

  &__list-item {
    position: relative;

    &::before {
      content: url(../img/top/college-icon.png);
      position: absolute;
      top: 55%;
      left: -66px;
      transform: translateY(-50%)scale(0.5);

      @include pc {
        top: 55%;
        left: -57px;
        transform: translateY(-50%)scale(0.4);
      }
    }


  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
専門家のコメント
 ================================= */

.comment {
  padding: 80px 16px;

  @include pc {
    padding: 40px 16px;
  }

  h2 {
    margin: 0 0 48px;

    @include pc {
      margin: 0 0 32PX;
    }
  }

  &__item {
    background-color: #daecff;
    border-radius: 8px;
    padding: 20px 24px;
    margin: 0 0 32px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    @include tab {
      padding: 20px;
    }


  }

  &__top {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    margin: 0 0 32px;

    @include tab {
      gap: 12px;
      justify-content: flex-start;
    }
  }

  &__img {
    width: 120px;

    @include tab {
      width: 60px;
    }
  }

  &__name {
    color: #0065CC;
    font-size: 24px;
    font-weight: bold;

    @include tab {
      font-size: 20px;
    }

    span {
      display: block;
      color: #000;
      font-size: 16px;
    }
  }

  &__text {
    font-size: 16px;
    text-align: left;
    line-height: 1.8;

    span {
      font-size: 18px;
    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
商品紹介〜今すぐ試してみる
 ================================= */

.promotion {
  padding: 0 16px 64px;

  @include pc {
    padding: 0 16px 40px;
  }

  p,
  h2 {
    margin: 0 0 48px;

    @include pc {
      margin: 0 0 32PX;
    }
  }

  &__item {
    background-color: #dadada;
    border-radius: 8px;
    padding: 20px 20px;
    margin: 0 0 32px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    @include pc {
      padding: 12px;
    }

  }

  &__item-img {
    margin: 0 0 24px;
  }



  &__img02 {
    margin: 64px auto 64px;

    @include pc {
      margin: 24px auto 24px;
    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
よくある質問
 ================================= */

.question {
  background-color: #FFF7F8;
  padding: 64px 16px;

  @include pc {
    padding: px 16px;
  }

  &__subttl {
    background-color: #ff6c87;
    color: #fff;
    padding: 12px;
    margin: 64px 0 24px;

    @include pc {
      margin: 40px 0 24px;
    }
  }

  .faq-item {
    background-color: #fff;
    padding: 12px;
    margin: 0 0 20px;

    .faq-question {
      cursor: pointer;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 20px;

      .q {
        width: 30px;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      .text {
        flex: 1;
      }

      .arrow {
        width: 10px;
        height: 10px;
        margin-left: auto;
        border-right: 2px solid #ff6c87;
        border-bottom: 2px solid #ff6c87;
        transition: transform .3s ease;
        transform: rotate(45deg); // ▼ 初期は下向き
      }
    }

    .faq-answer {
      display: none; // ← jQueryが開閉するので初期は非表示
      border-top: #ff6c87 1px solid;
      padding: 8px 0 0;
      margin-top: .8rem;
      line-height: 1.6;
    }

    .a {
      width: 30px;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    .text {
      flex: 1;
    }

    &.open {
      .arrow {
        transform: rotate(-135deg); // ▲ 開いたとき上向き
      }
    }
  }

  .faq-answer-flex {
    display: flex;
    align-items: center;
    gap: 20px;
  }






  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}