@use "config";
@use "subpage";

$main: #e52213;
$sub: #2ba99d;

@mixin sp {
  @media (max-width:(380px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(440px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(580px)) {
    @content;
  }
}


/* =================================
header
 ================================= */
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 580px;
  background-color: #fff;

  @include pc {
    width: 100%;
  }


  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 80px;
    padding: 8px 12px 0px;

    @include pc {
      width: 100%;
    }

    @include sp {
      gap: 28px;
      padding: 2px 12px 0px;

    }



  }

  &__ttl-wrap {
    padding: 0 0 8px;

    @include sp {
      padding: 0;
    }


  }

  &__header-tel {
    max-width: 300px;
  }



}




/* =================================
メインビジュアル
 ================================= */

.main-visual {
  padding: 0 0 120px;

  @include pc{
  padding: 0 0 60px;
  }

  &__top {
    margin: 0 0 24px;
  }

  &__inner {
    padding: 0 16px;
  }

  &__lead01 {
    max-width: 300px;
    margin: 0 auto 16px;
  }

  &__arrow {
    max-width: 50px;
    margin: 0 auto 0;
  }

  &__lead02 {
    max-width: 540px;
    margin: 0 auto 32px;
  }

  &__find01 {
    max-width: 500px;
    margin: 0 auto 8px;
  }

  &__find02 {
    max-width: 500px;
    margin: -24px auto 8px;
  }

  &__find03 {
    max-width: 500px;
    margin: 0 auto 8px;
  }

  &__text01 {
    margin: 0 0 32px;
  }

    &__find04 {
    max-width: 550px;
    margin: 0 auto 8px;
  }

    &__find05 {
    max-width: 550px;
    margin: 0 auto 40px;
  }
}

/* =================================
なんでこんなに疲れるの？
 ================================= */

.desc {
  padding: 0 16px;

  p {
    margin: 0 0 48px;

    @include pc{
    margin: 0 0 32PX;
    }
  }

  &__img01 {
    max-width: 500px;
    margin: 0 auto 80px;

    @include pc{
        max-width: 300px;
    margin: 0 auto 40px;
    }
  }

    &__img02 {
    margin: 0 auto 64px;

    @include pc{
    margin: 0 auto 40px;
    }
  }

          &__img03 {
    margin: 0 auto 64px;

    @include pc{
    margin: 0 auto 40px;
    }
  }

    &__img04 {
    max-width: 400px;
    margin: 0 auto 80px;

    @include pc{
        max-width: 300px;
    margin: 0 auto 40px;
    }
  }

      &__img05 {
    margin: 0 auto 64px;

    @include pc{
    margin: 0 auto 40px;
    }
  }

        &__img06 {
    margin: 0 auto 64px;

    @include pc{
    margin: 0 auto 40px;
    }
  }



  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}